body {	background-color:black;
	font-family:arial;
	color:green;}

h1{	color:grey;
	font-family:verdana
	align:center;}


.maindiv {	
		background-color: white;
		color:black;
		width:300px;
		padding:20px;
		border-radius:25px;
	

		margin: auto;
  		width: 60%;

		align-content: center;


}


.container1 {
	
		padding-left: 25%;
}






